<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name=".MTNApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hua.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.hua.activity.MainActivityPhone"></activity>
        <activity android:name="com.hua.activity.FilterPhoneActivity"></activity>
        <activity android:name="com.hua.activity.ImageDetailsActivity" ></activity>
        <activity android:name="com.hua.activity.WelcomeActivity" ></activity>
        <activity android:name="com.hua.settingfragment.subfragment.SwipeMenuFragment" ></activity>
    </application>

</manifest>
